# Pliki i katalogi generowane przez Colcon i ROS
/build/
/install/
/log/
/src/build/
/src/install/
/src/log/

# Pliki tymczasowe edytorów
*.swp
*~
.DS_Store

# Pliki i katalogi specyficzne dla Pythona
*.pyc
__pycache__/
*.egg-info/
dist/

# Ignoruj pliki bazy danych kompilacji
compile_commands.json
*.log

# Pliki logów specyficzne dla MSS
webserver.log
rosbridge.log
.mss_pids
operator_interface/web/webserver.log
operator_interface/web/rosbridge.log
operator_interface/web/.mss_pids